* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212a38;
}

.card {
  height: 375px;
  width: 375px;
  background: #364354;
  border-radius: 10px;
}
